{% extends 'base.html' %}
{% block content %}
<h2>Draft diff tool</h2>
	<p>This tool shows you the diff between a draft's last AfC review and the current revision. This allows you to quickly see whether any substantive improvement has been made.</p>
        <form action="#" class="draftdiff-form">
          <div class="form-group">
            <input type="text" class="form-control" id="draft-title" aria-describedby="title-help" placeholder="Draft title">
          <button type="submit" class="btn btn-primary" id="go-last-review-diff">Submit</button>
          </div>
        </form>
{% endblock content %}

{% block extra_scripts %}
<script>
$(document).ready(function(){
    $("#go-last-review-diff").click(function(){
        var draftTitle = $("#draft-title").val();
        draftTitle = draftTitle.replace(" ", "_").replace("Draft:", "").replace("draft:","");
        window.open("/fireflytools/draftdiff/lastreview/" + encodeURIComponent(draftTitle), "_blank");
    });
});
</script>
{% endblock extra_scripts %}
