{% extends 'base.html' %}
{% block content %}
<h2>Orphaned talk pages on {{wiki}}</h2>
	<h5 class="timestamp">As of {{timestamp}}</h5>
        <ul class="long-items">
            {% for namespace, page_name in entries %}
            <li><a href="https://{{ wiki|replace('wiki','') }}.wikipedia.org/wiki/{{namespace_names[namespace]}}{% if namespace_names[namespace] != "" %}:{% endif %}{{page_name}}">{{namespace_names[namespace]|replace('_',' ')}}{% if namespace_names[namespace] != "" %}:{% endif %}{{page_name|replace('_',' ')}}</a></li>
            {% endfor %}
        </ul>
{% endblock content %}