{% extends 'base.html' %}
{% block content %}
<h2>Outstanding linter errors on {{wiki}}</h2>
        <h5 class="timestamp">As of {{timestamp}}</h5>
        <table class="table">
          <thead>
          <tr class="row-rotate"><th>Namespace</th>
                
                {% if entries[2].7 > 0 %}
                    <th><div><span class="high-priority">Table tag to be deleted</span></div></th>
                {% endif %}
                {% if entries[2].12 > 0 %}
                    <th><div><span class="high-priority">HTML5-incompatible misnesting</span></div></th>
                {% endif %}
                {% if entries[2].17 > 0 %}
                    <th><div><span class="high-priority">Misc Tidy replacement issues</span></div></th>
                {% endif %}
                {% if entries[2].16 > 0 %}
                    <th><div><span class="high-priority">Multiline HTML table in list</span></div></th>
                {% endif %}
                {% if entries[2].14 > 0 %}
                    <th><div><span class="high-priority">Multiple unclosed formatting tags</span></div></th>
                {% endif %}
                {% if entries[2].9 > 0 %}
                    <th><div><span class="high-priority">Paragraph wrapping workaround</span></div></th>
                {% endif %}
                {% if entries[2].6 > 0 %}
                    <th><div><span class="high-priority">Self-closed tags</span></div></th>
                {% endif %}
                {% if entries[2].13 > 0 %}
                    <th><div><span class="high-priority">Tidy font link bug</span></div></th>
                {% endif %}
                {% if entries[2].10 > 0 %}
                    <th><div><span class="high-priority">Tidy whitespace bug</span></div></th>
                {% endif %}
                {% if entries[2].15 > 0 %}
                    <th><div><span class="high-priority">Unclosed quotes in heading</span></div></th>
                {% endif %}
                {% if entries[2].3 > 0 %}
                    <th><div><span class="med-priority">Bogus file options</span></div></th>
                {% endif %}
                {% if entries[2].1 > 0 %}
                    <th><div><span class="med-priority">Fostered content</span></div></th>
                {% endif %}
                {% if entries[2].8 > 0 %}
                    <th><div><span class="med-priority">Misnested tags</span></div></th>
                {% endif %}
                {% if entries[2].11 > 0 %}
                    <th><div><span class="med-priority">Multi-colon escape</span></div></th>
                {% endif %}
                {% if entries[2].18 > 0 %}
                    <th><div><span class="med-priority">Wikilink in extlink</span></div></th>
                {% endif %}
                {% if entries[2].4 > 0 %}
                    <th><div><span class="low-priority">Missing end tag</span></div></th>
                {% endif %}
                {% if entries[2].2 > 0 %}
                    <th><div><span class="low-priority">Obsolete HTML</span></div></th>
                {% endif %}
                {% if entries[2].5 > 0 %}
                    <th><div><span class="low-priority">Stripped tags</span></div></th>
                {% endif %}
                    <th><div><span class="total">Namespace total</span></div></th>
          </tr></thead>
          <tbody>
            {% for namespace, lintercounts in entries[0].items() %}

            {% if entries[1][namespace] > 0 %}
            <tr><td>{{namespace_names[namespace]}}</td>
                {% for linterr in linter_cat_order %}
                        {% if entries[2][linterr] > 0 %}
                            <td>
                                {% if lintercounts[linterr] > 0 %}
                                        <a href="{{wiki_url}}Special:LintErrors/{{linter_url_fragments[linterr]}}?namespace={{namespace}}">{{lintercounts[linterr]|number_format}}</a>
                                {% else %}
                                ---
                                {% endif %}
                            </td>
                        {% endif %}
                {% endfor %}
              <td class="cell-total">{{entries[1][namespace]|number_format}}</td>  
             {% endif %}   
            </tr>
            {% endfor %}

            <tr>
                <td> Lint error total</td>
                {% for linterr in linter_cat_order %}
                        {% if entries[2][linterr] > 0 %}
                            <td class="cell-total">{{entries[2][linterr]|number_format}}</a></td>
                        {% endif %}
                {% endfor %}
                <td class="cell-total">{{entries[2].values()|sum|number_format}}</td> 
            </tr>
                  </tbody>
                </table>
        {% endblock content %}
